/dts-v1/;
/plugin/;

/ {
    compatible = "xlnx,zynq-7000";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            ofcams_clk: ofcams_clock@0 {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <26600000>;
            };

            ofcams_peripherals_clk: ofcams_clock@1 {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <100000000>;
            };
        };
    };

    fragment@1 {
        target = <&amba>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <1>;

            ofcam_iic: i2c@41000000 {
                compatible = "xlnx,xps-iic-2.00.a";
                clocks = <&ofcams_peripherals_clk>;
                interrupt-parent = <&intc>;
                interrupts = < 0 29 4 >;
                reg = < 0x41000000 0x10000 >;
                #address-cells = <1>;
                #size-cells = <0>;

                stereocam_mux: i2c-switch@70 {
                    compatible = "nxp,pca9540";
                    #address-cells = <1>;
                    #size-cells = <0>;
                    reg = <0x70>;

                    i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;

                        ofcam1_gpio: gpio@71 {
                            compatible = "nxp,pca9538";
                            reg = <0x71>;
                            gpio-controller;
                            #gpio-cells = <2>;
                        };

                        mt9v034m: ofcam@48 {
                            compatible = "aptina,mt9v034m";
                            reg = <0x48>;
                            clocks = <&ofcams_clk>;

                            reset-gpios   = < &ofcam1_gpio 2 1 /*GPIO_ACTIVE_LOW */ >;
                            standby-gpios = < &ofcam1_gpio 3 0 /*GPIO_ACTIVE_HIGH*/ >;

                            adr0-gpios   = < &ofcam1_gpio 0 0 /*GPIO_ACTIVE_HIGH*/ >;
                            adr1-gpios   = < &ofcam1_gpio 1 0 /*GPIO_ACTIVE_HIGH*/ >;
                            douten-gpios = < &ofcam1_gpio 4 0 /*GPIO_ACTIVE_HIGH*/ >;

                            /* Enable LVDS output instead of parallel output (this is a non-mainline patch) */
                            lvds-mode;

                            /* Enable embedded syncs */
                            embedded-syncs;

                            ports {
                                #address-cells = <1>;
                                #size-cells = <0>;

                                port@0 {
                                    reg = <0>;
                                    ofcam1_mt9v034m_out: endpoint {
                                        remote-endpoint = <&ofcam1_vcap_in>;
                                    };
                                };
                            };
                        };
                    };

                    i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                    };
                };
            };

            ofcam_axi_vdma: dma@41010000 {
                #dma-cells = <1>;

                compatible = "xlnx,axi-vdma-1.00.a";

                interrupt-parent = <&intc>;
                interrupts = <0 30 4>;

                reg = <0x41010000 0x10000>;
                dma-ranges = <0x00000000 0x00000000 0x40000000>;

                xlnx,addrwidth = <32>;
                xlnx,flush-fsync = <0x1>;
                /* FIXME: Figure out why this doesn't work with more than one framestores */
                /* https://forums.xilinx.com/xlnx/board/crawl_message?board.id=ELINUX&message.id=13118 */
                xlnx,num-fstores = <0x1>;

                clocks = <&ofcams_peripherals_clk>;
                clock-names = "s_axi_lite_aclk";

                dma-channel@41010030 {
                    compatible = "xlnx,axi-vdma-s2mm-channel";
                    interrupts = <0 31 4>;
                    xlnx,datawidth = <0x20>;
                    xlnx,device-id = <0x0>;
                    /*xlnx,genlock-mode ;*/
                };
            };

            ofcam_video_cap {
                compatible = "xlnx,video";
                dmas = <&ofcam_axi_vdma 0>;
                dma-names = "port0";

                ports {
                    #address-cells = <1>;
                    #size-cells = <0>;

                    port@0 {
                        reg = <0>;
                        direction = "input";
                        ofcam1_vcap_in: endpoint {
                            remote-endpoint = <&ofcam1_mt9v034m_out>;
                        };
                    };
                };
            };
        };
    };
};
